<%= form_for @reservation do |form| %>
  
  <h1><%=current_user.name%><%= current_user.id%> </h1>
  <% if current_user.admin %>
      <h2> You Are ADMIN!!!</h2>
  <% end %>
  <% if @reservation.errors.any? %>
	  <div id="error_explanation">
	    <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited
	      this reservation from being saved:</h2>
	    <ul>
	    <% @reservation.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
  <% end %>
  
  <%= form.hidden_field :user_id, :value => current_user.id %>

  <p><b>Required</b></p>
  <p> Start Time:  <%= form.text_field :start %> , lets preset this with the time that was clicked on, and no longer have it changeable</p>
  <p> Duration:  <%= form.text_field :duration %> , lets make this a drop down menu with the next 15,30,45,60,75,90 minutes </p> 
  <p> Court: <%= form.text_field :court %> lets preset this with the clicked time and make it no longer changeable </p> 
  <p>
  <p><b>Optional</b></p>
  <p> Guests: </p>
  <p> <%= form.text_field :guest1 %> </p> 
  <p> <%= form.text_field :guest2 %> </p> 
  <p> <%= form.text_field :guest3 %> </p>
  <br>
  <p> <%= form.submit %> </p>
<% end %>