<!DOCTYPE html>
<html>
<head>
  <title>GtRacketRez</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= include_gon %>
  <%= render "reservations/reserveform_modal"%>
  
</head>
<body>
<div align = "center" style="width:40%;margin:0 auto;padding-top:10px">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
</div>
<%= yield %>

</body>
</html>
