<!DOCTYPE html>
<html>
<head>
  <title>GtRacketRez</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= include_gon %>
  <%= render "reservations/reserveform_modal"%>
</head>
<body>
<% unless notice.blank? %>
<div align = "center" style="width:30%;margin:0 auto;border:2px solid;padding-top:10px;background-color:#76EE00">

<p class="notice"><%= notice %></p><br>
</div>
<% end %>
<% unless alert.blank? %>
<div align="center" style="background-color:#ff4c4c;border:2px solid;width:30%;margin:0 auto">
<p class="alert"><%= alert %></p>
</div>
<% end %>
<%= yield %>

</body>
</html>
